<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">THE CAR BUY PLACE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

      </div>
    </div>

     <!-- admin -->
    <% if(false){ %>
      <form class="form-inline float-right" action="/logout" method="POST">
        <div class="form-group mb-2">
          <h4 style="margin: 1em">Logged In As Admin </h4>
          <button type="submit" class="btn btn-outline-dark">Logout</button>
        </div>
      </form>

     <!-- user -->
      <% } else if (true){ %> 
      <form class="form-inline float-right" action="/logout" method="POST">
        <div class="form-group mb-2">
          <h4 style="margin: 1em">Logged In As user.email  </h4>
          <button type="submit" class="btn btn-outline-dark">Logout</button>
        </div>
      </form>

      <!-- not logged in -->
      <% } else { %> 
        <form class="form-inline float-right" action="/login" method="GET">
          <div class="form-group mb-2">
            <button type="submit" class="btn btn-outline-dark">Login</button>
          </div>
        </form>
        <form class="form-inline float-right" action="/register" method="GET">
          <div class="form-group mb-2">
            <button type="submit" class="btn btn-outline-dark">Register</button>
          </div>
        </form>
    <% } %>

  </nav>
</header>
