<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

      </div>
    </div>

      <form class="form-inline float-right" action="/logout" method="POST">
        <div class="form-group mb-2">

          <button type="submit" class="btn btn-outline-dark">Logout</button>
        </div>
      </form>

        <form class="form-inline float-right" action="/login" method="GET">
          <div class="form-group mb-2">
            <button type="submit" class="btn btn-outline-dark">Login</button>
          </div>
        </form>
        <form class="form-inline float-right" action="/register" method="GET">
          <div class="form-group mb-2">
            <button type="submit" class="btn btn-outline-dark">Register</button>
          </div>
        </form>

  </nav>
</header>
