<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>The Car Buy Place</title>
</head>
<header>
  <%- include('partials/_header') %>
</header>

<body>
  <div class="container d-flex justify-content-center">
  <h1>Add a new car</h1>

  <div>
  <form method="POST" action="/new" id="new-car-form" class="new-car-form">
    <div class="form-group">
      <label for="new-car-form_title">Title</lable>
      <input type="text" name="title" placeholder="Title" id="new-car-form_title">
    </div>
    <div class="form-group">
      <label for="new-car-form_seller_id">Seller ID</lable>
      <input type="number" name="seller_id" placeholder="Seller ID" id="new-car-form_seller_id">
    </div>
    <div class="form-goup">
      <label for="new-car-form_Descriptions">Description</label>
      <textarea name="descriptions" id="new-car-form_description" maxlength="255" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="new-car-form_year">Year</lable>
      <input type="number" name="year" placeholder="Year" id="new-car-form_year">
    </div>
    <div class="form-group">
      <label for="new-car-form_make">Make</lable>
      <input type="text" name="make" placeholder="Make" id="new-car-form_make">
    </div>
    <div class="form-group">
      <label for="new-car-form_model">Model</lable>
      <input type="text" name="model" placeholder="Model" id="new-car-form_model">
      </div>
    <div class="form-group">
      <label for="new-car-form_model_colour">Colour</lable>
      <input type="text" name="model_colour" placeholder="Colour" id="new-car-form_model_colour">
    </div>
    <div class="form-group">
      <label for="new-car-form_thumbnail_url">Thumbnail Image</lable>
      <input type="text" placeholder="Thumbnail" name="thumbnail_url" id="new-car-form_thumbnail_url">
    </div>
    <div class="form-group">
      <label for="new-car-form_cover_url">Cover Image</lable>
      <input type="text" placeholder="Cover Image" name="cover_url" id="new-car-form_cover_url">
    </div>
    <div class="form-group">
      <label for="new-car-form_car_price">Price</lable>
      <input type="number" placeholder="Price" name="car_price" id="new-car-form_car_price">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Add the Car</button>
    </div>
  </div>
  </form>

  <form method="post" action="/delete" id="car-delete-form" class="car-delete-form">
    <div class="form-group">
      <label for="car-delete-form_id">Car ID to Delete</lable>
      <input type="text" name="id" placeholder="Car ID" id="car-delete-form_id">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-danger">Delete Record</button>
    </div>
  </form>

  <form method="post" action="/sold" id="car-sold-form" class="car-sold-form">
    <div class="form-group">
      <label for="car-sold-form_id">Sold Car ID</lable>
      <input type="text" name="id" placeholder="Car ID" id="car-sold-form_id">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-warning">Mark Sold</button>
    </div>
  </form>
</div>



  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
